* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

#main-logo {
    width: 70px;
    vertical-align: middle;
    margin-left: 15px;
    margin-top: 15px;
}

main {
    background-color:#f6f8f9;
}

#divider-top {
    width: auto;
    height: 50px;
    background-color: #f6f8f9;
}

#main-title {
    color: black;
    font-size: 50px;
    vertical-align: middle;
    margin-top: 15px;
}

.container {
    width: 70%;
    margin: 0 auto;
    background-color: white;
    
    border-radius: 10px;
    
    
}

#blue-button {
    background-color: #47adf1;
    border-radius: 5px;
    padding: 5px 8px;
    font-size: 1.2em;
    margin-top: 20px;
    margin-left: 35px;
}

#white-button {
    background-color: #ffffff;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 1.2em;
}

#divider {
    margin-top: 50px;
    margin-bottom: 50px;
    height: 5px;
    background-color: #f6f8f9;
    border: none;
}

.bold {
    font-size: 2em;
    padding-left: 35px;
    font-weight: bold;
    vertical-align: middle;
    padding-top: 15px;
}

.list-items {
    padding-left: 35px;
    padding-top: 20px;
    padding-bottom: 45px;
    font-weight: lighter;
    
    

}

ul {
    list-style-type: none;
}

.check::before {
    content: '\2713';
    padding-left: 50px;
    color: green;
}


.cross::before {
    content: '\2717';
    padding-left: 50px;
    color: red;
}

li {
    margin-top: 30px;
}