* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#main-title {
    font-family: 'Roboto', sans-serif;
}

#main-logo {
    width: 70px;
    vertical-align: middle;
    margin-left: 15px;
    margin-top: 15px;
}

#main-title {
    color: black;
    font-size: 50px;
    vertical-align: middle;
    margin-top: 15px;
}